<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>EpicTask</title>
</head>
<body>
<div class="flex w-full flex-col">
    <div class="card bg-base-300 rounded-box grid h-20 place-items-center">
        <a href="/oauth2/authorization/github" class="btn btn-neutral">Login com GitHub</a>
    </div>
    <div class="divider">OR</div>
    <div class="card bg-base-300 rounded-box grid h-20 place-items-center">
        <a href="/oauth2/authorization/google" class="btn btn-info">Login com Google</a>
    </div>
</div>
</body>
</html>